@import url("https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, grey, orange, grey);
}

h1 {
  text-align: center;
  font-family: "Rubik Glitch", cursive;
  font-size: 5rem;
  letter-spacing: 3px;
}

img {
  padding: 5px;
  float: left;
  width: 25%;
  height: 225px;
}

img:hover {
  float: left;
  width: 25rem;
  height: auto;
  cursor: pointer;
}
.card {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 1rem 5rem;
  padding: 1rem;
  width: 90%;
}

h3 {
  color: gold;
  font-size: 2rem;
}

p {
  color: white;
  text-align: justify;
  text-indent: 1rem;
  font-weight: 300;
  font-family: "Times New Roman", Times, serif;
}

a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  float: right;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 10px 0 0;
  padding: 7px;
  border-radius: 5px;
  border: none;
  background-color: goldenrod;
}

a:hover {
  padding: 10px;
}
